{% load static %}
<li>
                <article class="post">
                    <a href="{% url 'single-post' 'the-mountains' %}">
                        <img src="{% static 'blog/images/mountain.jpg' %}" alt="mountain hiking">
                        <div class="post__content">
                            <h2>Mountain Hiking</h2>
                            <p>There's nothing like the views you get when hiking in the mountains! And I wasn't prepare for what happened
                            while I was enjoying the view</p>
                        </div>
                    </a>
                </article>
</li>